 .container{
    background-color: brown;
    border: 3px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: 200px repeat(2,1fr);
    grid-template-rows: 30px 1fr 30px;
    /* grid-template-columns: 100px 200px; */
    grid-template-areas: 
    "hd"
    "sub con"
    "ft";
    gap: 5px;
}
.box{
    background-color:aqua;
    border: 2px solid black;
    /* width: 80px; */
    /* height: 80px; */
}/*
#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#box3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
} */
#hd{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-area: 0/0/1/4;
   grid-area: hd;
}
#ft{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-area: ft;
}
#sub{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-area: sub;
}
#con{
    grid-column-start: 1;
   grid-column-end: 4;
   grid-area:con;
}
